<!doctype html>
<html lang=en>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.3/new.min.css>
<title>Short URLs</title>
<h1>Short URLs</h1>
<table>
<thead>
<tr>
<th><span style="white-space: nowrap;">slug</span></th>
<th><span style="white-space: nowrap;">url</span></th>
<th><span style="white-space: nowrap;">hits</span></th>
</tr>
</thead>
<tbody>
{{range .}}<tr><td>{{.Slug}}</td><td>{{.URL}}</td><td>{{.Hits}}</td></tr>{{end}}
</tbody>
</table>
</html>