name: Master workflow

on:
  push:
    branches: [ master ]

jobs:
  docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        config-inline: |
          [registry."docker.io"]
            mirrors = ["mirror.gcr.io"]
    - name: Login to Gitea container registry
      uses: docker/login-action@v3
      with:
        registry: git.jlel.se
        username: nologin
        password: ${{ secrets.GITEA_TOKEN }}
    - name: Test
      uses: docker/build-push-action@v6
      with:
        push: false
        target: test
        tags: test
    - name: Build image
      uses: docker/build-push-action@v6
      with:
        push: true
        target: base
        tags: git.jlel.se/jlelse/goshort:latest
        provenance: false